@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background-color: #fdd687;
}
/* --------------------------- Navbar  */
.nav-bar{
    padding: 7.5px 15px;
}
.nav-bar li{
    align-self: center;
}
.logo-nav{
    height: 50px;
    margin-left: 20px;
}
/* ---------------------- Home component */